body {
    display: flex;
    background-color: #5DBCA9;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#game-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* justify-content: center; */
    align-items: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.box {
    font-size: 7vh;
    color: red;
    height: 20vh;
    width: 20vh;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: bisque;
}

#reset {
    margin: 20px;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border: none;
    font-size: 2.5vh;
    color: white;
    background-color: black;
}

.hide {
    display: none;
}

#newGame {
    margin: 10px;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border: none;
    font-size: 2vh;
    color: white;
    background-color: black;
}

#winMsg {
    font-size: 30px;
    color: purple;
}